* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: #d9e2e8;
}
.container {
    max-width: 600px;
    margin: 100px auto;
    padding: 0 20px;
}
.card {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card h2 {
    padding-bottom: 10px;
}
.card p {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    margin-bottom: 30px;
}
.card:first-of-type {
    background: #fff url(./‫images/pose1.png) no-repeat center right/150px;
}
.card:first-of-type a {
    background-color: #e04555;
}
.card:nth-of-type(2) {
    background: #fff url(./‫images/pose2.png) no-repeat center right/150px;
}
.card:nth-of-type(2) a {
    background-color: #0d4ba3;
}
.card:last-of-type {
    background: #fff url(./‫images/pose3.png) no-repeat center right/150px;
}
.card:last-of-type a {
    background-color: #537a4f;
}
.card a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
}
.card a:hover {
    opacity: 0.9;
}