* {
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
  box-sizing: border-box; /* Ensures padding and borders are included in element's total width/height */
}

body {
  font-family: 'Poppins', sans-serif; /* Sets the font style */
  line-height: 1.6; /* Increases line spacing for readability */
}

nav {
  background-color: #90c7e3; /* Light blue background */
  font-weight: bold; /* Makes text bold */
}

ul {
  list-style-type: none; /* Removes default bullet points */
}

a {
  text-decoration: none; /* Removes underline from links */
  color: #333; /* Dark gray text color */
}

a:hover {
  color: #fff; /* Changes link color to white when hovered */
}

h2 {
  margin-bottom: 20px; /* Adds space below h2 */
}

p {
  margin: 20px 0; /* Adds vertical spacing between paragraphs */
}

footer {
  font-size: 75%; /* Reduces text size */
  text-align: center; /* Centers text */
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.hero-image {
  background-size: cover;
  background-position: center center;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.hero-home-image {
  background-image: url('images/coast.jpg');
}

.hero-yurt-image {
  background-image: url('images/yurt.jpg');
}

.hero-activities-image {
  background-image: url('images/trail.jpg');
}

.hero-reservations-image {
  background-image: url('images/reservations.jpg');
}

.hero-text h1 {
  font-family: 'Style Script', sans-serif;
  font-size: 3rem;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
}

.hero-text p {
  font-size: 1.5rem;
}

.hero-text .btn {
  background-color: coral;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.hero-text .btn:hover {
  background-color: #90c7e3;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.main-menu {
  display: flex;
  justify-content: space-evenly;
}

.main-menu a {
  font-size: 20px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

.content {
  flex: 1 1 300px;
  padding: 20px;
}

.contact {
  margin-top: 40px;
  border: 1px solid #000;
  padding: 10px;
  display: inline-block;
  font-style: normal;
}

.contact p {
  margin: 0;
  line-height: 1.3;
}

@media (max-width: 768px) {
  .hero-text h1 {
    font-size: 2.5rem;
    font-weight: 400;
  }

  .hero-text p {
    font-size: 1.2rem;
  }

  .hero-text .btn {
    font-size: 1rem;
    padding: 8px 16px;
  }
}